html, body {
    margin:0px;
}

.page{
    width: 100vw;
    height:100vh;
    max-width: 100vw;

    flex-direction: column;
    background-image: url(./background.jpg);

    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    color: crimson;
    font-size: 150px;
    font-family: 'Arial';
    font-weight: bold;
    text-align: center;
    height: 25vh;
    text-shadow:
    -3px -3px 0 black,
    3px -3px 0 black,
    -3px 3px 0 black,
    3px 3px 0 black;  
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100vw;
}

.btn{
    justify-content: center;
    display: flex;
    font-family: 'Segoe UI' ;
    cursor: pointer;
    margin: 0px;
    position: relative;
    width: 400px;
}
.btn:not(:last-child){
    margin-right: -35px;
}

.btn-image{
    width: 400px;
    display: block;
    height: 400px;
    border: 3px solid black;
    border-radius: 100%;
    background-color: black;
}
.btn-text{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left:50%;
    width: 400px;
    height: 400px;
    border-radius: 500px;
    font-size: 75px;
    font-family:'Lucida Sans';
    color: black;
    background-color: rgba(255, 255, 255, 0.651);
    text-align: center;
    transition: opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.btn:hover>.btn-text{
    opacity: 1;
}